* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: rgb(189, 189, 189);
}
.nav {
    height: 58px;
    width: 100%;
    background-color: rgb(127, 127, 127);
}
a {
    display: inline;
}
.search {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0px;
    right: 0px;
    height: 58px;
    width: 380px;
}
.input {
    height: 38px;
    width: 300px;
    display: block;
    float: right;
    margin-right: 30px;
    background-color: rgb(166,166,166);
    border-radius: 100px;
}
#search_input {
    position: relative;
    width: 220px;
    height: 20px;
    background-color: rgb(166, 166,166);
    border: none;
    top: -8px;
    margin-left: 20px;
    margin-right: 10px;
}
.search_1 {
    margin-top: 3px;
}
.left_logo {
    position: absolute;
    z-index: 100;
    background-color: rgb(161, 161, 161);
    height: 360px;
    width: 52px;
    top: 277px;
    opacity: 0.5;
}
.left_logo_1 {
    display: block;
    float: left;
    width: 52px;
    height: 50px;
    background-image: url(../img/left_logo1.png);
    background-position: 46% -4%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.left_logo_2 {
    display: block;
    float: left;
    width: 52px;
    height: 50px;
    background-image: url(../img/left_logo1.png);
    background-position: 46% 30%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.left_logo_3 {
    display: block;
    float: left;
    width: 52px;
    height: 50px;
    background-image: url(../img/left_logo1.png);
    background-position: 46% 62%;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.left_logo_4 {
    display: block;
    float: left;
    width: 52px;
    height: 60px;
    background-image: url(../img/left_logo1.png);
    background-position: 46% 100%;
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.bac {
    position: absolute;
    top: 151px;
    width: 100%;
    height: 280px;
    background-color: rgb(78, 90, 99);
    z-index: -1;
}
#pre {
    position: absolute;
    height: 55px;
    width: 45px;
    top: 252px;
    left: 563px;
    background-color: rgb(131, 140, 146);
    padding-top: 25px;
    padding-left: 15px;
    opacity: 0.8;
    z-index: 100;
}
#next {
    position: absolute;
    height: 55px;
    width: 35px;
    top: 252px;
    left: 1215px;
    background-color: rgb(131, 140, 146);
    padding-top: 25px;
    padding-left: 25px;
    opacity: 0.8;
    z-index: 100;
}
.box1 {
    position: absolute;
    height: 410px;
    width: 677px;
    top: 104px;
    left: 259px;
    z-index: 8;
    box-shadow:black 0px 0px 10px;
}
.box2 {
    position: absolute;
    height: 410px;
    width: 677px;
    top: 82px;
    left: 581px;
    z-index: 9;
    box-shadow:black 0px 0px 10px;
}
.box3 {
    position: absolute;
    height: 410px;
    width: 677px;
    top: 104px;
    left: 864px;
    z-index: 7;
    box-shadow:black 0px 0px 10px;
}
.page_1 {
    position: absolute;
    top: 530px;
    width: 100%;
    height: 472px;
}
.page_1 .coment_1 {
    position: absolute;
    top: 24px;
    left: 70px;
    height: 100px;
    width: 840px;
}
.headImg_left {
    display: block;
    float: left;
    height: 103px;
    width: 103px;
    background-image: url(../img/head.png);
    background-repeat: no-repeat;
    font-size: 22px;
}
.model_content_left {
    position: absolute;
    left: 100px;
    width: 800px;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    border: 1px solid black;
}
.page_1 .coment_2 {
    position: absolute;
    top: 128px;
    right: 15px;
    height: 100px;
    width: 840px;
    background-color: blue;
}
.page_1 .coment_3 {
    position: absolute;
    top: 232px;
    left: 70px;
    height: 100px;
    width: 840px;
    background-color: blue;
}
.page_1 .coment_4 {
    position: absolute;
    top: 336px;
    right: 15px;
    height: 100px;
    width: 840px;
    background-color: blue;
}